@import './scss/var';
@import './scss/header';

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

p {
    color: white;
}

body {
    background-color: $primary;
}

h3:after {
    display: block;
    height: 2px;
    background-color: $second;
    width: 100%;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}

button {
    height: 50px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    background-color: $second;
    color: white;
    font-size: 20px;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: rgb(141, 57, 197);
    transition: 1s;

}

#mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    padding-top: 200px;
    box-shadow: 1px 8px 9px 2px $primary
    h2 {
        color: white;
    }
}

#about {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    padding-top: 200px;
    h3 {
        color: white;
    }
}